.hero-container {
  width: 100%;
  background-color: var(--hero-bg);
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-xl) var(--spacing-l);
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero-information {
  flex: 1;
  padding: var(--spacing-xl);
}
.hero-title {
  color: var(--heading-col);
  font-size: var(--heading-fs);
  padding: 0 var(--spacing-xl);
  margin-bottom: var(--spacing-s);
}
.hero-description {
  color: var(--font-col);
  font-size: var(--para-fs);
  padding: 0 var(--spacing-xl);
  margin-bottom: var(--spacing-s);
}

.btn-container {
  padding: 0 var(--spacing-xl);
}

.hero-btn {
  background-color: var(--cta-bg);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: var(--heading-col);
  border: none;
  cursor: pointer;
}

.hero-img {
  display: block;
  max-width: 100%;
}
img {
  width: 30rem;
}
