.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
  max-width: var(--max-width);
  padding: var(--spacing-l);
}
.hero-information {
  flex: 1;
}
.hero-title {
  color: var(--heading-col);
  font-size: var(--heading-fs);
  margin-bottom: var(--spacing-s);
}
.hero-description {
  color: var(--font-col);
  font-size: var(--para-fs);
  margin-bottom: var(--spacing-s);
}
.hero-btn {
  background-color: var(--cta-bg);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: var(--heading-col);
  border: none;
  cursor: pointer;
}

.hero-img {
  flex: 1;
  display: block;
  max-width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
