.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-xl);
}

.cards-subtitle {
  font-size: var(--subheading-fs);
  font-weight: bold;
  color: var(--subheading-col);
  padding: 0 0 var(--spacing-l) 0;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-s);
  margin: 0 auto;
}
.card {
  text-align: center;
  max-width: 200px;
}
.card-img {
  width: 150px;
  border-radius: 10px;
}
