.cta-container {
  padding: var(--spacing-xl);
  background-color: var(--heading-col);
}

.cta {
  display: flex;
  justify-content: space-between;
  background-color: var(--cta-bg);
  padding: var(--spacing-l) var(--spacing-m);
  border-radius: var(--spacing-xs);
}

.cta-info {
  color: var(--heading-col);
  /* width: 60%; */
}
.cta-heading {
  font-size: var(--subheading-fs);
}

.cta-button {
  align-self: flex-end;
}

.cta-btn {
  border: solid 1px white;
  background-color: var(--cta-bg);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: var(--heading-col);
  cursor: pointer;
}
