.navigation-container {
  background-color: var(--hero-bg);
  width: 100%;
}

.logo-container {
  padding: 0 var(--spacing-xl);
}
.logo {
  color: var(--heading-col);
  font-size: var(--logo-fs);
  font-weight: bold;
  padding: 0 var(--spacing-xl);
  justify-self: start;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-xl);
  margin: 0 auto;
  max-width: var(--max-width);
}

.navigation-links {
  display: flex;
  gap: var(--spacing-s);
  padding: 0 var(--spacing-xl);
  list-style: none;
  cursor: pointer;
}

.navigation-links a {
  text-decoration: none;
  color: var(--font-col);
  font-size: var(--para-fs);
}
.navigation-links a:hover {
  color: var(--cta-bg);
}
